NEXT_PUBLIC_BASE_URL=

# Supabase
DATABASE_URL=

# NEXT AUTH
NEXTAUTH_URL=
NEXTAUTH_SECRET= # openssl rand -base64 32

# GITHUB OAUTH
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# RESEND API KEY
RESEND_API_KEY=
EMAIL_FROM=

# VERCEL BLOB
BLOB_READ_WRITE_TOKEN=