.code-light {
  pre code.hljs {
    display: block;
    overflow-x: auto;
    padding: 1em;
  }

  code.hljs {
    padding: 3px 5px;
  }

  .hljs {
    color: #e0e0e0;
    background: #1e1e1e;
  }

  .hljs-name {
    color: #ff5100;
  }

  .hljs-attr {
    color: #a138ff;
  }

  .hljs-string {
    color: #1975fb;
  }

  .hljs-title {
    color: #ff5100;
    font-weight: bold;
  }

  .hljs-section {
    color: #ff5100;
    font-weight: bold;
  }

  .hljs-variable {
    color: #8926d9;
  }

  .hljs-property {
    color: #8926d9;
  }

  .hljs-template-tag {
    color: #005fd1;
  }

  .hljs-keyword {
    color: #b40054;
    font-weight: bold;
  }

  /* dark pinkish red */

  .hljs-selector-tag {
    color: #b40054;
  }

  .hljs-number {
    color: #00724a;
  }

  /* dark teal green */

  .hljs-literal {
    color: #00724a;
  }

  .hljs-comment {
    color: #5a5a5a;
    font-style: italic;
  }

  /* deeper gray for light bg */

  .hljs-quote {
    color: #5a5a5a;
    font-style: italic;
  }

  .hljs-meta {
    color: #a46900;
  }

  /* deep golden brown */

  .hljs-built_in {
    color: #0070a8;
  }

  /* deep sky blue */

  .hljs-symbol {
    color: #aa7700;
  }

  .hljs-bullet {
    color: #aa7700;
  }

  .hljs-type {
    color: #b55400;
  }

  .hljs-class {
    color: #b55400;
  }

  .hljs-doctag {
    color: #9147e0;
  }

  .hljs-tag {
    color: #ff5100;
  }

  .hljs-operator {
    color: #c34200;
  }

  .hljs-subst {
    color: #4a4846;
  }

  .hljs-emphasis {
    font-style: italic;
  }

  .hljs-strong {
    font-weight: bold;
  }
}
