pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
}

code.hljs {
  padding: 3px 5px;
}

.hljs {
  color: #f8f8f2;
  background: #1a002b;
}

.hljs-name {
  color: #ff2dfc;
}

/* Function, class names */

.hljs-title {
  color: #ff2dfc;
  font-weight: bold;
}

.hljs-section {
  color: #ff2dfc;
  font-weight: bold;
}

.hljs-attr {
  color: #c792ea;
}

.hljs-variable {
  color: #c792ea;
}

.hljs-property {
  color: #c792ea;
}

.hljs-string {
  color: #00eaff;
}

.hljs-template-tag {
  color: #00eaff;
}

.hljs-keyword {
  color: #ff66cc;
  font-weight: bold;
}

.hljs-selector-tag {
  color: #ff66cc;
}

.hljs-number {
  color: #a5ff90;
}

.hljs-literal {
  color: #a5ff90;
}

.hljs-comment {
  color: #7c7b99;
  font-style: italic;
}

.hljs-quote {
  color: #7c7b99;
  font-style: italic;
}

.hljs-meta {
  color: #fdd835;
}

.hljs-built_in {
  color: #9effff;
}

.hljs-symbol {
  color: #f6f884;
}

.hljs-bullet {
  color: #f6f884;
}

.hljs-type {
  color: #ff8ff2;
}

.hljs-class {
  color: #ff8ff2;
}

.hljs-doctag {
  color: #b388ff;
}

.hljs-tag {
  color: #ff2dfc;
}

.hljs-operator {
  color: #ff2dfc;
}

.hljs-subst {
  color: #cfcfcf;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
